{% extends 'base.html' %} {% block content %}
{% load crispy_forms_tags %}

<div class="booking-header">
    <div class="container">
        <div class="row g-0">
            <div class="col-md-6 booking-header-text">
                <!-- Author booking -->
                <h1 class="booking-title">{{ booking.title }}</h1>
                </h1>
                <!-- Booking author goes before the | the booking created date goes after -->
                <p class="booking-subtitle"> | {{ booking.author }} | {{ booking.created_on }} </p>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col card mb-4  mt-3 left  top">
            <div class="card-body">
                <!-- The booking content appears inside the block. -->
                <!-- Use the | safe filter inside the template tags -->
                <p class="card-text "></p>
                    {{ booking.day.hour.first_name.last_name.party | safe }}
                <div class="row">
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 card mb-4  mt-3 ">
            <h3>Notes:</h3>
            <div class="card-body">
                <!-- Create a loop inside the tags to iterate with the notes option -->
                {% %}
                <div class="notes" style="padding: 10px;">
                    <p class="font-weight-bold">
                        <!-- Notes name -->
                        {{ note.last_name }}
                        <span class=" text-muted font-weight-normal">
                            <!-- Notes created date -->
                            {{ notes.created_on }}
                        </span> wrote:
                    </p>
                    <!-- Employee note -->
                    {{ note.body | linebreaks }}
                </div>
                <!-- End of for loop -->
                {% enfor %}
            </div>
        </div>
        <div class="col-md-4 card mb-4  mt-3 ">
            <div class="card-body">
                {% if commented %}
                <div class="alert alert-success" role="alert">
                    Thank you! Your booking is awaiting approval
                </div>
                {% else %}
                {% if user.is_authenticated %}

                <h3>Make a reservation:</h3>
                <p>Posting as: {{ user.username }}</p>
                <form method="booking" style="margin-top: 1.3em;">
                    {{ note_form | crispy }}
                    {% csrf_token %}
                    <button type="submit" class="btn btn-signup btn-lg">Submit</button>
                </form>
                {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock content %}